# 项目规范：发布与生成物
dist/
var/
bin/debug/
bin/release/
bin/log/
bin/var/
temp/
obj/

# Build (兜底，与项目 bin 无关的旧输出)
[Dd]ebug/
[Rr]elease/
[Oo]bj/
[Tt]emp/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log
.vs/
*.csproj.user

# NuGet
packages/
*.nupkg
project.lock.json
.run/
.temp/